.mtop{margin-top: 50px;}
.table td , .table th {
   text-align: center;   
}

#addForm , $addExpenseForm {color: #999;}
#addForm .ng-pristine , #addExpenseForm .ng-pristine {
    background: none!important;
}
#addForm .ng-dirty , #addExpenseForm .ng-dirty{
    background:#FAC8C8;
}
#addForm .ng-valid , #addExpenseForm .ng-valid{
    background: #E8FAC8
}
#addForm .ng-invalid ,#addExpenseForm .ng-invalid{
    background: #FAC8C8
}
button:disabled {
    background: #ccc;
    color:#aaa;
}